@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --white: #ffffff;
  --secwhite: #DBE5F4;
  --indigo: #1D1F4D;
  --teal: #00B9AD;
  --gray: #606391;
}

@theme inline {
  --color-white: var(--white);
  --color-secwhite: var(--secwhite);
  --color-indigo: var(--indigo);
  --color-teal: var(--teal);
  --color-gray: var(--gray);
}