@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --white: #ffffff;
  --cloudWhite: #F6F9FF;
  --primary: #185CBC;
  --secwhite: #DBE5F4;
  --indigo: #1D1F4D;
  --teal: #00B9AD;
  --gray: #606391;
  --cloudwhite: #F6F9FF;
   --danger:#FF2A2E;
}

@theme inline {
  --color-white: var(--white);
  --color-cloudWhite: var(--cloudWhite);
  --color-primary: var(--primary);
  --color-secwhite: var(--secwhite);
  --color-indigo: var(--indigo);
  --color-teal: var(--teal);
  --color-gray: var(--gray);
  --color-danger: var(--danger);
  --color-cloudwhite: var(--cloudwhite)
}

.custom-gradient-border-y {
  border-width: 1px 0px 1px 0px;
  border-style: solid;
  border-image-source: linear-gradient(233.59deg, rgba(41, 80, 171, 0) -0.04%, rgba(0, 77, 255, 0.6) 48.84%, rgba(41, 80, 171, 0) 97.72%);
  border-image-slice: 1;
}

.complex-gradient-border {
  border: 1px solid;
  border-image-source:
    linear-gradient(180deg, rgba(255, 255, 255, 0.8) -25.96%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(270deg, rgba(255, 255, 255, 0) 12.54%, rgba(255, 255, 255, 0.8) 47.67%, rgba(255, 255, 255, 0) 82.8%);
  border-image-slice: 1;
  --color-danger: var(--danger);

  --animate-spin: spin 1s linear infinite;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}